<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gt.brewmasters"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.gt.brewmasters.activities.Brewmasters"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         
        <activity
            android:name="com.gt.brewmasters.activities.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.gt.brewmasters.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        
        <activity
            android:name="com.gt.brewmasters.activities.RegisterActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        
        <activity
            android:name="com.gt.brewmasters.activities.SettingsActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" 
            android:label="SettingsManager">
        </activity>
        
        <activity
            android:name="com.gt.brewmasters.activities.FragmentPagerSupport"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" 
            android:label="SettingsManager">
        </activity>
        
        <activity
            android:name="com.gt.brewmasters.fragments.TextViewMarquee"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" 
            android:label="SettingsManager">
        </activity>
        
        <activity
            android:name="com.gt.brewmasters.activities.CreateRecipeActivity"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait" 
            android:label="SettingsManager">
        </activity>
        
        <activity
            android:name="com.gt.brewmasters.activities.AddIngredientActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" 
            android:label="SettingsManager">
        </activity>
        
        <activity
            android:name="com.gt.brewmasters.activities.BrowseRecipesActivity"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait" 
            android:label="SettingsManager">
        </activity>
        
        <activity
            android:name="com.gt.brewmasters.activities.BeerReportActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" 
            android:label="SettingsManager">
        </activity>
        
        <activity
            android:name="com.gt.brewmasters.activities.HomePager"
            android:screenOrientation="portrait" 
            android:label="Brewmasters">
        </activity>
        
    </application>

</manifest>
